/target/

jsonoutput/

\.settings/

\.project

\.classpath

sootOutput/
vscode/node_modules/
vscode/config/
vscode/flowdroid-lsp-demo\.jar

vscode/out/

vscode/flowdroid-lsp-demo-0\.0\.1\.vsix

vscode/package-lock\.json

dependency-reduced-pom\.xml

vscode/FlowDroidLSP-0\.0\.1\.vsix

vscode/FlowDroidLSP-demo\.jar
